body{
    /* background-color: blue; */
}
.col-12{
    text-align: center;
}
table{
    /* justify-content: center; */
}
.taxiRank td,
.taxiRank th {
    border: 1px solid #ddd;
    padding: 8px;
}

.taxiRank tr:nth-child(even) {
    background-color: #f2f2f2;
}

.taxiRank tr:hover {
    background-color: #ddd;
}

.taxiRank th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
