h1{
    color: black;
    text-shadow:  2px 2px 5px black;
}

body{
    height: 100vh;
    background-image: url('../images/tr10.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.col-12{
    text-align: center;
}
.taxiRank td,
.taxiRank th {
    border: 1px solid white;
    padding: 8px;
}

.taxiRank tr:nth-child(even) {
    background-color: #f2f2f2;
}

.taxiRank tr:hover {
    background-color: #ddd;
}

.taxiRank th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #D79922;
    color: white;
}
.taxiRank{
    background-color: #ddd;
    display: flex;
    justify-content: center;
    text-align: flex-start;
    align-items: center;
}

.today{
    background-color: #87CEEB;
    font-size: larger;
    color: white;
}
.feedB{
    margin-top: 1em;
    margin-bottom: 1em;
}
.addRouteBtn{
    margin-bottom: 1em;
    margin-top: 1em;
}
.myAdd{
    background-color: #D79922;
    margin-bottom: 2em;
    display: flex;
}
.myRoute{
    background-color: #ddd;
    height: 2em;
    padding-top: 1em;
    padding-bottom: 2px;
}
#allData{
    background-color: #87CEEB;
    padding-bottom: 2em;
}
.daysProfit{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-right: 36rem;
    color: white;
    font-weight: bold;

}
.days{
    margin-left: 2em;
    margin-top: 1em;
    color: white;
    font-weight: bold;
}