body{
    height: 100vh;
    background-image: url('../images/tr1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
.col-12{
    text-align: center;
}
.taxiRank td,
.taxiRank th {
    border: 1px solid white;
    padding: 8px;
}

.taxiRank tr:nth-child(even) {
    background-color: #f2f2f2;
}

.taxiRank tr:hover {
    background-color: #ddd;
}

.taxiRank th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}
.taxiRank{
    background-color: #ddd;
    text-align: center;
}